.section-stories {
  padding: 10rem 0;
  position: relative;
}
.section-stories .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
}
.section-stories .bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-stories .section-stories-row {
  height: 20%;
}
.section-stories .section-stories-row .section-stories-story {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 60%;
  margin: 4rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(247, 247, 247, 0.6);
  padding: 2rem;
  transform: skewX(-12deg);
  transition: all 0.3s;
}
.section-stories .section-stories-row .section-stories-story:hover {
  background-color: white;
  transform: skewX(-12deg) translateY(-1rem) scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(85, 197, 122, 0.5);
}
.section-stories .section-stories-row .section-stories-story > * {
  transform: skewX(12deg);
}
.section-stories .section-stories-row .section-stories-story__shape {
  width: 20%;
  height: 100%;
  height: 20rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
  -webkit-clip-path: circle(44% at 63% 50%);
  position: relative;
  transform: translateX(-3rem) skewX(12deg);
}
.section-stories .section-stories-row .section-stories-story__shape img {
  height: 100%;
  transform: translateX(-3.5rem) scale(1.4);
  transition: all 0.5s;
}
.section-stories .section-stories-row .section-stories-story__shape figcaption {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 64%;
  transform: translate(-50%, 20%);
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s;
}
.section-stories .section-stories-row .section-stories-story__text {
  width: 60%;
  padding-left: 5rem;
}
.section-stories .section-stories-row .section-stories-story__text h3 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.section-stories .section-stories-row .section-stories-story:hover figcaption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.section-stories .section-stories-row .section-stories-story:hover img {
  transform: translateX(-3.5rem) scale(1);
  filter: blur(3px) brightness(80%);
}
.section-stories .section-text-button {
  align-items: center;
  text-align: center;
}
.section-stories .section-text-button .btn-text:link, .section-stories .section-text-button .btn-text:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid #28b485;
  margin-top: 2rem;
}
.section-stories .section-text-button .btn-text:hover {
  background-color: #28b485;
  color: white;
  box-shadow: 0 1rem 1rem rgwa(black, 0.15);
  transform: translateY(-3px);
}
.section-stories .section-text-button .btn-text:active {
  box-shadow: 0 1rem 1rem rgwa(black, 0.15);
  transform: translateY(0);
}/*# sourceMappingURL=section-stories.css.map */